body {
	text-align: center;
	background-color: #e3e3e3;
	margin-top: 80px;
}

.gobtn {
	padding: 5px;
	width: 100px;
	margin: 20px auto;
	border: 1px solid black;
	border-radius: 10px;
	cursor: pointer;
}

.gobtn:active {
	color: green;
}

#screen {
	display: inline-block;
	border-width: 4px;
	border-style: solid;
	transition: 1s;
}

#score {
	transition: all 3s;
}

.smallerFont {
	font-size: 1.25em;
}

.largerFont {
	font-size: 2em;
}

.greyBorder {
	border-color: #555;
}

.redBorder {
	border-color: tomato;
}
